---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../icons/Social/Linkedin.astro'
import Github from '../icons/Social/Github.astro'
import Social_icons from '../components/Social_icons.astro'
import Gmail from '../icons/Social/Gmail.astro'
import Section from '../components/Section.astro';
import Section_tecno from '../components/Section_tecno.astro';
import Tecnologias from '../components/Tecnologias.astro';
import Code from '../icons/Titulos/Code.astro'
import Proyectos from '../components/Proyectos.astro'
import Certificados from '../components/Certificados.astro'
import Cert_icon from '../icons/Titulos/Cert_icon.astro'
import Me_icons from '../icons/Titulos/Me_icon.astro'
import Footer from '../components/Footer.astro'
import Discord from '../icons/Social/Discord.astro'
import Section_certificados from '../components/Section_certificados.astro';
import HackTheBox from '../icons/Tecnologias/Herramientas_Adicionales/HackTheBox.astro';
import Section_sobremi from '../components/Section_sobremi.astro';
import Sobre_mi from '../components/Sobre_mi.astro';
---

<Layout title="Miguel Portfolio"
description="Apasionado de la ciberseguridad con especializaci칩n en Pentesting Web. Actualmente, me estoy preparando para certificaciones como CBBH, eWPT y BSCP, desarrollando habilidades en auditor칤a de seguridad, explotaci칩n de vulnerabilidades y an치lisis de aplicaciones web. Siempre en busca de nuevos retos y aprendizaje continuo.">
	<main class="px-4">
		<Section>
			<img class="rounded-full w-20 h-20 mb-4" 
			src="/images/avatar.jpg" alt="Pylon"
			/> 
		<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-5 pb-6 lg:pb-10">
			Hola, Soy Miguel 游녦 
		</h1>
		<h2 class="text-xl lg:text-2xl opacity-80 text-pretty max-w-{700px}">
			<span class="text-blue-300">Red Team & Pentesting Web</span> <br>Soy un joven apasionado de la ciberseguridad con un enfoque m치s a la rama de Pentesting Web.  
			Siempre en busca de nuevos retos y aprendizaje continuo. 游</br>			
		</h2>
		<nav class="flex gap-x-5 mt-6 flex-wrap">
			<Social_icons href="https://www.linkedin.com/in/miguel-anxo-garc%C3%ADa-gonz%C3%A1lez-454b3a291">
				<Linkedin class="size-4 md:size-6"/>
				LinkedIn
			</Social_icons>
			<Social_icons href="https://github.com/Pylonet">
				<Github class="size-4 md:size-6"/>
				GitHub
			</Social_icons>
			<Social_icons href="https://pylonet.gitbook.io">
				游닇 Mi Blog
			</Social_icons>
			<Social_icons href="https://app.hackthebox.com/profile/1560890">
				<HackTheBox class="size-4 md:size-6"/>
				Perfil HackTheBox
			</Social_icons>


		</nav>
		</Section>
		<Section_tecno id="tecnologias">
			<Tecnologias/>
		</Section_tecno>
		<Section id="proyectos">
			<div class="flex justify-center">
				<h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4"> <Code class="size-8 "/>Proyectos </h2>
			</div>
			<Proyectos/>
		</Section>
		<Section_certificados id="certificados">
			<div class="flex justify-center">
				<h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4"> <Cert_icon class="size-8 "/>Certificados </h2>
			</div>
			<Certificados/>
		</Section_certificados>
		 <Section_sobremi id="sobre_mi">
			<div class="flex justify-center">
				<h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4"> <Me_icons class="size-8 "/>Sobre m칤 </h2>
			</div>
			<Sobre_mi/>
		</Section_sobremi>
		<Footer/>
	</main>
	
</Layout>
