<div class="container px-5 py-6 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="/images/securityblueteam.png" class="w-48 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Logo Desafio Latam"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Introduction to Bash</h2>
            <p class="text-xl mb-2 font-semibold">Security Blue Team</p>
            <p class="leading-relaxed text-base">El curso de Introduction to Bash me ha reforzado los conocimientos de comandos de Linux y a reforzar mi desarrollo de scripts en Bash.</p>
            <a href="/images/certificados/securityblueteam/intro_bash.png" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">Ver Certificado</a>
        </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="/images/securityblueteam.png" class="w-48 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Logo Desafio Latam"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Introduction to Virtual Machines</h2>
            <p class="text-xl mb-2 font-semibold">Security Blue Team</p>
            <p class="leading-relaxed text-base">El curso de Introduction to Virtual Machines me a reforzado los conocimientos para configurar una máquina virtual en Virtualbox.</p>
            <a href="/images/certificados/securityblueteam/intro_virtual.png" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">Ver Certificado</a>
        </div>
    </div>
</div>
