<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
<div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty">
    <p>
            Me llamo Miguel, tengo 16 años y soy de España. Estudio de manera autodidacta <strong>Pentesting Web </strong> en HackTheBox Academy 
    </p>
    
    <p>
        Siempre estoy buscando oportunidades para crecer como profesional y prepararme para el mundo laboral.
    </p>

    <p>
        Actualmente estoy en preparación del certificado <strong> Web Application Penetration Tester (eWPT) de INE</strong> y en <strong> Certified Bug Bounty Hunter (CBBH) de HackTheBox.</strong> 
    </p>
</div>
</section>